.calendar {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;   
    align-items: center;

}
.calendar__previous,
.calendar__next {
    color: #e6e6e6;
    font-size: 10em;
    font-weight: bold;
    flex: 1 0 50px;
    text-align: center;
    cursor: pointer;
}

.monthDetail {
    flex: 0 0 510px;  
}
.calendar__title {
    color: #c6c6c6;
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
    padding: 0 0 10px 0;
    margin: 0;
}
.calendar__rows{
    border:10px solid #f6f6f6;
    border-radius: 5px;
    background: #f6f6f6;
    min-height: 454px;
}
.calendar__row{
    display: flex;
    justify-content: flex-start;
}
.calendar__row_first{
    justify-content: flex-end;
}
.calendar__day{
    flex: 0 1 70px;
    min-height: 70px;
    max-width: 70px;
    text-align: left;
    background: #e6e6e6;
    border-radius: 3px;
    border:1px solid #fff;
    color: #333;
}
.calendar__daynumber{
    padding: 0 2px;
    margin: 4px;
    color: #555;
    display: inline-block;
}
.calendar__day_today {
    background-color:#333;
    color: #e6e6e6;
    border-radius: 2px;
}
.calendar__day__events{
    margin: 0;
    padding: 0;
    position: relative;
}
.calendar__day__event{
    font-size: 0.7em;
    overflow: hidden;
    height: 1.5em;
    padding: 0 ;
    margin: 0 4px;
    cursor: pointer;
    border-bottom: 1px solid #555;
    color: #555;
}
/*.calendar__day__event:before{
    content : '• ';
}*/
.IL {
    background: #99b6ce;
}
.LO {
    background: #b7cfc8;
}
.WO {
    background: #beb5ca;
}
.CO {
    background: #dfb290;
}
.SC {
    background: #f3d372;
}
.IL_LO, .IL_TE { background: linear-gradient(to bottom right, #99b6ce 0%, #99b6ce 50%, #b7cfc8 50%, #b7cfc8 100%); }
.IL_CO { background: linear-gradient(to bottom right, #99b6ce 0%, #99b6ce 50%, #dfb290 50%, #dfb290 100%); }
.IL_WO { background: linear-gradient(to bottom right, #99b6ce 0%, #99b6ce 50%, #beb5ca 50%, #beb5ca 100%); }
.IL_SC { background: linear-gradient(to bottom right, #99b6ce 0%, #99b6ce 50%, #f3d372 50%, #f3d372 100%); }
.IL_HO { background: linear-gradient(to bottom right, #99b6ce 0%, #99b6ce 50%, #e6e6e6 50%, #e6e6e6 100%); }
.LO_IL, .TE_IL { background: linear-gradient(to bottom right, #b7cfc8 0%, #b7cfc8 50%, #99b6ce 50%, #99b6ce 100%); }
.LO_CO, .TE_CO { background: linear-gradient(to bottom right, #b7cfc8 0%, #b7cfc8 50%, #dfb290 50%, #dfb290 100%); }
.LO_WO, .TE_WO { background: linear-gradient(to bottom right, #b7cfc8 0%, #b7cfc8 50%, #beb5ca 50%, #beb5ca 100%); }
.LO_SC, .TE_SC { background: linear-gradient(to bottom right, #b7cfc8 0%, #b7cfc8 50%, #f3d372 50%, #f3d372 100%); }
.LO_HO, .TE_HO { background: linear-gradient(to bottom right, #b7cfc8 0%, #b7cfc8 50%, #e6e6e6 50%, #e6e6e6 100%); }
.CO_IL { background: linear-gradient(to bottom right, #dfb290 0%, #dfb290 50%, #99b6ce 50%, #99b6ce 100%); }
.CO_LO, .CO_TE { background: linear-gradient(to bottom right, #dfb290 0%, #dfb290 50%, #b7cfc8 50%, #b7cfc8 100%); }
.CO_WO { background: linear-gradient(to bottom right, #dfb290 0%, #dfb290 50%, #beb5ca 50%, #beb5ca 100%); }
.CO_SC { background: linear-gradient(to bottom right, #dfb290 0%, #dfb290 50%, #dfb290 50%, #dfb290 100%); }
.CO_HO { background: linear-gradient(to bottom right, #dfb290 0%, #dfb290 50%, #e6e6e6 50%, #e6e6e6 100%); }
.SC_IL { background: linear-gradient(to bottom right, #f3d372 0%, #f3d372 50%, #99b6ce 50%, #99b6ce 100%); }
.SC_LO, .SC_TE { background: linear-gradient(to bottom right, #f3d372 0%, #f3d372 50%, #b7cfc8 50%, #b7cfc8 100%); }
.SC_WO { background: linear-gradient(to bottom right, #f3d372 0%, #f3d372 50%, #beb5ca 50%, #beb5ca 100%); }
.SC_CO { background: linear-gradient(to bottom right, #f3d372 0%, #f3d372 50%, #dfb290 50%, #dfb290 100%); }
.SC_HO { background: linear-gradient(to bottom right, #f3d372 0%, #f3d372 50%, #e6e6e6 50%, #e6e6e6 100%); }
.HO_IL { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #99b6ce 50%, #99b6ce 100%); }
.HO_LO, .HO_TE { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #b7cfc8 50%, #b7cfc8 100%); }
.HO_WO { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #beb5ca 50%, #beb5ca 100%); }
.HO_CO { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #dfb290 50%, #dfb290 100%); }
.HO_SC { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #f3d372 50%, #f3d372 100%); }
.WO_IL { background: linear-gradient(to bottom right, #beb5ca 0%, #beb5ca 50%, #99b6ce 50%, #99b6ce 100%); }
.WO_L0, .WO_TE { background: linear-gradient(to bottom right, #beb5ca 0%, #beb5ca 50%, #b7cfc8 50%, #b7cfc8 100%); }
.WO_CO { background: linear-gradient(to bottom right, #beb5ca 0%, #beb5ca 50%, #dfb290 50%, #dfb290 100%); }
.WO_SC { background: linear-gradient(to bottom right, #beb5ca 0%, #beb5ca 50%, #f3d372 50%, #f3d372 100%); }
.WO_HO { background: linear-gradient(to bottom right, #beb5ca 0%, #beb5ca 50%, #e6e6e6 50%, #e6e6e6 100%); }
.legend {
    display: flex;
    justify-content: center;
}
.legend__item{
    border-left: 10px solid #e6e6e6;
    list-style-type: none;
    font-size: 0.8em;
    padding:5px;
    margin-right: 25px; 
    color: #666;
}
.legend__item.IL,
.legend__item.LO,
.legend__item.TE,
.legend__item.WO,
.legend__item.CO,
.legend__item.SC,
.legend__item.HO {
    background: none;
}
.legend__item.IL {
    border-color: #99b6ce;
}
.legend__item.LO,
.legend__item.TE {
    border-color: #a2c09d;
}
.legend__item.WO {
    border-color: #beb5ca;
}
.legend__item.CO {
    border-color: #dfb290;
}
.legend__item.SC {
    border-color: #f3d372;
}
.legend__item.HO {
    border-color: #e6e6e6;
}