body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.hidden{
    display: none;
}
.timeline {
    margin:  0;
    padding: 0 0 0 5px;
    background: #333;
}
.timeline ul{
    display: flex;
    padding: 0;
    margin: 0;

}
.timeline li {
    list-style-type: none;
    font-size: 0.7em;
    flex: 1 1 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #e6e6e6;
}
.timeline li span {
    border-left: 1px solid #e6e6e6;
    text-align: center;
    padding-bottom: 4px;
}
.timeline li span.year {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #999;
}
.timeline li span.month {
    cursor: pointer;
}
.timeline li.active  {
    color: #ff0096;
}
.timeline li.active span {
    border-color: #ff0096;
}

.calendar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;    
    align-items: center;

}
.previous,
.next {
    color: #e6e6e6;
    font-size: 10em;
    font-weight: bold;
    flex: 1 0 50px;
    text-align: center;
    cursor: pointer;
}

.calendars {
    flex: 0 0 524px; /* 10 + ( (70 + 2) x 7 ) + 10 */
    
}
.calendars h1 {
    color: #c6c6c6;
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
}
.rows{
    border:10px solid #f6f6f6;
    border-radius: 5px;
    background: #f6f6f6;
    min-height: 420px;
}
.row{
    display: flex;
    justify-content: flex-start;
}
.first-row{
    justify-content: flex-end;
}
.day{
    flex: 0 1 70px;
    padding: 25px 0;
    text-align: center;
    background: #e6e6e6;
    border-radius: 3px;
    border:1px solid #fff;
    color: #333;
}
.IL {
    background: #93b9d1;
}
.LO {
    background: #b9d1b5;
}
.CO {
    background: #d38571;
}
.SC {
    background: #f4c954;
}

footer ul {
    display: flex;
    justify-content: center;
}
footer li {
    border-left: 10px solid #e6e6e6;
    list-style-type: none;
    font-size: 0.7em;
    padding:5px;
    margin-right: 25px; 
    color: #666;
}
footer .IL,
footer .LO,
footer .CO,
footer .SC,
footer .HO {
    background: none;
}
footer .IL {
    border-color: #93b9d1;
}
footer .LO {
     border-color: #a2c09d;
}
footer .CO {
     border-color: #d38571;
}
footer .SC {
     border-color: #f4c954;
}
footer .HO {
     border-color: #e6e6e6;
}