html
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet', href='/styles/calendar.css')
        script(type='text/javascript' src='/scripts/calendar.js')
        script(type='text/javascript').
            document.addEventListener('DOMContentLoaded', function () {
                Calendar.init(!{data}, !{icalData}, '#{requestedDate}')
            })

    body.container-fluid
        div#app