html
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet', href='/styles/calendar.css')
        script(type='text/javascript' src='/scripts/config.js')
        script(type='text/javascript').
            document.addEventListener('DOMContentLoaded', function () {
                config.init('#{dateStart}', '#{dateEnd}', !{calendarUrls})
            })

    body.config
        main.container

            include _flashes

            div#app
