div.form-group.row.row-cal
	label(for=id).col-sm-2.col-sm-offset-3.col-form-label Ical stream
	div.col-sm-4
		input(type='url', name='calendars[]', value=calendar, id=id).form-control
	if(id === 'cal_0')
		a.button(href='#').add_cal Add a stream