html
    head
        meta(charset='utf-8')
        title #{title}
        script(type='text/javascript' src='/scripts/calendar.js' defer)

    body
        header
            p.welcome Welcome ! Please
            a(href='/users/login/twitter') login with twitter