.timeline {
    margin:  0;
    padding: 0 0 0 5px;
    background: #333;
}
.timeline__list{
    display: flex;
    padding: 0;
    margin: 0;

}
.timeline__item {
    list-style-type: none;
    font-size: 0.8em;
    flex: 1 1 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #e6e6e6;
}
.timeline__item span {
    border-left: 1px solid #e6e6e6;
    text-align: center;
    padding-bottom: 4px;
}
.timeline__year {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #999;
}
.timeline__month {
    cursor: pointer;
}
.timeline__item.active  {
    color: #ff0096;
}
.timeline__item.active span {
    border-color: #ff0096;
}
.calendar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;   
    align-items: center;

}
.calendar__previous,
.calendar__next {
    color: #e6e6e6;
    font-size: 10em;
    font-weight: bold;
    flex: 1 0 50px;
    text-align: center;
    cursor: pointer;
}

.calendar__list {
    flex: 0 0 510px;     
}
.calendar__list h1 {
    color: #c6c6c6;
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
    padding: 0 0 10px 0;
    margin: 0;
}
.calendar__rows{
    border:10px solid #f6f6f6;
    border-radius: 5px;
    background: #f6f6f6;
    min-height: 454px;
}
.calendar__row{
    display: flex;
    justify-content: flex-start;
}
.calendar__row_first{
    justify-content: flex-end;
}
.calendar__day{
    flex: 0 1 70px;
    min-height: 70px;
    text-align: left;
    background: #e6e6e6;
    border-radius: 3px;
    border:1px solid #fff;
    color: #333;
}
.calendar__daynumber{
    padding: 0 2px;
    margin: 4px;
    color: #555;
    display: inline-block;
}
.calendar__day_today {
    background-color:#333;
    color: #e6e6e6;
    border-radius: 2px;
}
.calendar__day__events{
    margin: 0;
    padding: 0;
    position: relative;
}
.calendar__day__event{
    font-size: 0.7em;
    overflow: hidden;
    height: 1.5em;
    padding: 0 ;
    margin: 0 4px;
    cursor: pointer;
    font-style: italic;
    border-bottom: 1px solid #fff;
    color: #fff;
}
/*.calendar__day__event:before{
    content : '• ';
}*/
.IL {
    background: #93b9d1;
}
.LO {
    background: #b9d1b5;
}
.CO {
    background: #d38571;
}
.SC {
    background: #f4c954;
}
.IL_LO { background: linear-gradient(to bottom right, #93b9d1 0%, #93b9d1 50%, #b9d1b5 50%, #b9d1b5 100%); }
.IL_CO { background: linear-gradient(to bottom right, #93b9d1 0%, #93b9d1 50%, #d38571 50%, #d38571 100%); }
.IL_SC { background: linear-gradient(to bottom right, #93b9d1 0%, #93b9d1 50%, #f4c954 50%, #f4c954 100%); }
.IL_HO { background: linear-gradient(to bottom right, #93b9d1 0%, #93b9d1 50%, #e6e6e6 50%, #e6e6e6 100%); }
.LO_IL { background: linear-gradient(to bottom right, #b9d1b5 0%, #b9d1b5 50%, #93b9d1 50%, #93b9d1 100%); }
.LO_CO { background: linear-gradient(to bottom right, #b9d1b5 0%, #b9d1b5 50%, #d38571 50%, #d38571 100%); }
.LO_SC { background: linear-gradient(to bottom right, #b9d1b5 0%, #b9d1b5 50%, #b9d1b5 50%, #b9d1b5 100%); }
.LO_HO { background: linear-gradient(to bottom right, #b9d1b5 0%, #b9d1b5 50%, #e6e6e6 50%, #e6e6e6 100%); }
.CO_IL { background: linear-gradient(to bottom right, #d38571 0%, #d38571 50%, #93b9d1 50%, #93b9d1 100%); }
.CO_LO { background: linear-gradient(to bottom right, #d38571 0%, #d38571 50%, #b9d1b5 50%, #b9d1b5 100%); }
.CO_SC { background: linear-gradient(to bottom right, #d38571 0%, #d38571 50%, #d38571 50%, #d38571 100%); }
.CO_HO { background: linear-gradient(to bottom right, #d38571 0%, #d38571 50%, #e6e6e6 50%, #e6e6e6 100%); }
.SC_IL { background: linear-gradient(to bottom right, #f4c954 0%, #f4c954 50%, #93b9d1 50%, #93b9d1 100%); }
.SC_LO { background: linear-gradient(to bottom right, #f4c954 0%, #f4c954 50%, #b9d1b5 50%, #b9d1b5 100%); }
.SC_CO { background: linear-gradient(to bottom right, #f4c954 0%, #f4c954 50%, #d38571 50%, #d38571 100%); }
.SC_HO { background: linear-gradient(to bottom right, #f4c954 0%, #f4c954 50%, #e6e6e6 50%, #e6e6e6 100%); }
.HO_IL { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #93b9d1 50%, #93b9d1 100%); }
.HO_LO { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #b9d1b5 50%, #b9d1b5 100%); }
.HO_CO { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #d38571 50%, #d38571 100%); }
.HO_SC { background: linear-gradient(to bottom right, #e6e6e6 0%, #e6e6e6 50%, #f4c954 50%, #f4c954 100%); }
.legend {
    display: flex;
    justify-content: center;
}
.legend__item{
    border-left: 10px solid #e6e6e6;
    list-style-type: none;
    font-size: 0.8em;
    padding:5px;
    margin-right: 25px; 
    color: #666;
}
.legend__item.IL,
.legend__item.LO,
.legend__item.CO,
.legend__item.SC,
.legend__item.HO {
    background: none;
}
.legend__item.IL {
    border-color: #93b9d1;
}
.legend__item.LO {
     border-color: #a2c09d;
}
.legend__item.CO {
     border-color: #d38571;
}
.legend__item.SC {
     border-color: #f4c954;
}
.legend__item.HO {
     border-color: #e6e6e6;
}