.calendar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;   
    align-items: center;

}
.calendar__previous,
.calendar__next {
    color: #e6e6e6;
    font-size: 10em;
    font-weight: bold;
    flex: 1 0 50px;
    text-align: center;
    cursor: pointer;
}

.calendar__list {
    flex: 0 0 510px;
    min-height: 494px;    
}
.calendar__title {
    color: #c6c6c6;
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
    padding: 0 0 10px 0;
    margin: 0;
}
.calendar__rows{
    border:10px solid #f6f6f6;
    border-radius: 5px;
    background: #f6f6f6;
    min-height: 454px;
}
.calendar__row{
    display: flex;
    justify-content: flex-start;
}
.calendar__row_first{
    justify-content: flex-end;
}
.calendar__day{
    flex: 0 1 70px;
    min-height: 70px;
    text-align: left;
    background: #d6d6d6;
    border-radius: 3px;
    border:1px solid #fff;
    color: #333;
}
.calendar__daynumber{
    padding: 0 2px;
    margin: 4px;
    color: #555;
    display: inline-block;
}
.calendar__day_today {
    background-color:#333;
    color: #e6e6e6;
    border-radius: 2px;
}
.calendar__day__events{
    margin: 0;
    padding: 0;
    position: relative;
}
.calendar__day__event{
    font-size: 0.7em;
    overflow: hidden;
    height: 1.5em;
    padding: 0 ;
    margin: 0 4px;
    cursor: pointer;
    font-style: italic;
    border-bottom: 1px solid #fff;
    color: #fff;
}
/*.calendar__day__event:before{
    content : '• ';
}*/
.IL {
    background: #6997b9;
}
.LO {
    background: #96bab1;
}
.WO {
    background: #aea3bd;
}
.CO {
    background: #f5d271;
}
.SC {
    background: #d59360;
}
.IL_LO { background: linear-gradient(to bottom right, #6997b9 0%, #6997b9 50%, #96bab1 50%, #96bab1 100%); }
.IL_CO { background: linear-gradient(to bottom right, #6997b9 0%, #6997b9 50%, #eecc5a 50%, #eecc5a 100%); }
.IL_WO { background: linear-gradient(to bottom right, #6997b9 0%, #6997b9 50%, #aea3bd 50%, #aea3bd 100%); }
.IL_SC { background: linear-gradient(to bottom right, #6997b9 0%, #6997b9 50%, #d59360 50%, #d59360 100%); }
.IL_HO { background: linear-gradient(to bottom right, #6997b9 0%, #6997b9 50%, #d6d6d6 50%, #d6d6d6 100%); }
.LO_IL { background: linear-gradient(to bottom right, #96bab1 0%, #96bab1 50%, #6997b9 50%, #6997b9 100%); }
.LO_CO { background: linear-gradient(to bottom right, #96bab1 0%, #96bab1 50%, #eecc5a 50%, #eecc5a 100%); }
.LO_WO { background: linear-gradient(to bottom right, #96bab1 0%, #96bab1 50%, #aea3bd 50%, #aea3bd 100%); }
.LO_SC { background: linear-gradient(to bottom right, #96bab1 0%, #96bab1 50%, #d59360 50%, #d59360 100%); }
.LO_HO { background: linear-gradient(to bottom right, #96bab1 0%, #96bab1 50%, #d6d6d6 50%, #d6d6d6 100%); }
.CO_IL { background: linear-gradient(to bottom right, #eecc5a 0%, #eecc5a 50%, #6997b9 50%, #6997b9 100%); }
.CO_LO { background: linear-gradient(to bottom right, #eecc5a 0%, #eecc5a 50%, #96bab1 50%, #96bab1 100%); }
.CO_WO { background: linear-gradient(to bottom right, #eecc5a 0%, #eecc5a 50%, #aea3bd 50%, #aea3bd 100%); }
.CO_SC { background: linear-gradient(to bottom right, #eecc5a 0%, #eecc5a 50%, #f5d271 50%, #f5d271 100%); }
.CO_HO { background: linear-gradient(to bottom right, #eecc5a 0%, #eecc5a 50%, #d6d6d6 50%, #d6d6d6 100%); }
.SC_IL { background: linear-gradient(to bottom right, #d59360 0%, #d59360 50%, #6997b9 50%, #6997b9 100%); }
.SC_LO { background: linear-gradient(to bottom right, #d59360 0%, #d59360 50%, #96bab1 50%, #96bab1 100%); }
.SC_WO { background: linear-gradient(to bottom right, #d59360 0%, #d59360 50%, #aea3bd 50%, #aea3bd 100%); }
.SC_CO { background: linear-gradient(to bottom right, #d59360 0%, #d59360 50%, #eecc5a 50%, #eecc5a 100%); }
.SC_HO { background: linear-gradient(to bottom right, #d59360 0%, #d59360 50%, #d6d6d6 50%, #d6d6d6 100%); }
.HO_IL { background: linear-gradient(to bottom right, #d6d6d6 0%, #d6d6d6 50%, #6997b9 50%, #6997b9 100%); }
.HO_LO { background: linear-gradient(to bottom right, #d6d6d6 0%, #d6d6d6 50%, #96bab1 50%, #96bab1 100%); }
.HO_WO { background: linear-gradient(to bottom right, #d6d6d6 0%, #d6d6d6 50%, #aea3bd 50%, #aea3bd 100%); }
.HO_CO { background: linear-gradient(to bottom right, #d6d6d6 0%, #d6d6d6 50%, #eecc5a 50%, #eecc5a 100%); }
.HO_SC { background: linear-gradient(to bottom right, #d6d6d6 0%, #d6d6d6 50%, #d59360 50%, #d59360 100%); }
.WO_IL { background: linear-gradient(to bottom right, #aea3bd 0%, #aea3bd 50%, #6997b9 50%, #6997b9 100%); }
.WO_L0 { background: linear-gradient(to bottom right, #aea3bd 0%, #aea3bd 50%, #96bab1 50%, #96bab1 100%); }
.WO_CO { background: linear-gradient(to bottom right, #aea3bd 0%, #aea3bd 50%, #eecc5a 50%, #eecc5a 100%); }
.WO_SC { background: linear-gradient(to bottom right, #aea3bd 0%, #aea3bd 50%, #d59360 50%, #d59360 100%); }
.WO_HO { background: linear-gradient(to bottom right, #aea3bd 0%, #aea3bd 50%, #d6d6d6 50%, #d6d6d6 100%); }
.legend {
    display: flex;
    justify-content: center;
}
.legend__item{
    border-left: 10px solid #d6d6d6;
    list-style-type: none;
    font-size: 0.8em;
    padding:5px;
    margin-right: 25px; 
    color: #666;
}
.legend__item.IL,
.legend__item.LO,
.legend__item.WO,
.legend__item.CO,
.legend__item.SC,
.legend__item.HO {
    background: none;
}
.legend__item.IL {
    border-color: #6997b9;
}
.legend__item.LO {
     border-color: #a2c09d;
}
.legend__item.WO {
     border-color: #aea3bd;
}
.legend__item.CO {
     border-color: #eecc5a;
}
.legend__item.SC {
     border-color: #d59360;
}
.legend__item.HO {
     border-color: #e6e6e6;
}